streamlit==1.57.0

pandas==2.1.4
numpy==1.26.4
scipy==1.11.4

plotly==6.7.0
matplotlib==3.7.5
seaborn==0.13.2

scikit-learn==1.4.2

ydata-profiling==4.18.4
missingno==0.5.2

requests==2.34.2
python-dotenv==1.2.2

openai==2.37.0
groq==1.2.0

category_encoders==2.7.0
statsmodels==0.14.6

ipython==9.13.0
