streamlit==1.45.1
pandas==2.2.3
numpy==1.26.4
scipy==1.13.1
plotly==6.0.1
matplotlib==3.9.4
seaborn==0.13.2
scikit-learn==1.4.2
ydata-profiling==4.9.0
missingno==0.5.2
requests==2.32.3
python-dotenv==1.0.1
openai==1.82.0
groq==0.28.0
category_encoders==2.7.0
statsmodels==0.14.4
ipython==8.18.1
